test.v3lmx.com {
    log {
        output file /var/log/caddy/staging.log
    }

    import /etc/caddy/cloudflare.Caddyfile

    # if not wireguard address: deny
    @denied not remote_ip 10.10.100.0/24
    handle @denied {
        respond 401
    }

    handle_path /up {
        respond "test ok" 200
    }

    # each site deploys its caddy config
    # in this directory
    import /etc/caddy/sites/staging/*

    respond 401
}

monitoring.v3lmx.com {
    log {
        output file /var/log/caddy/monitoring.log
    }

    import /etc/caddy/cloudflare.Caddyfile

    # if not wireguard address: deny
    @denied not remote_ip 10.10.100.0/24
    handle @denied {
        respond 401
    }

    reverse_proxy uptime-kuma:3001
}

v3lmx.com {
    log {
        output file /var/log/caddy/prod.log
    }

    import /etc/caddy/cloudflare.Caddyfile

    handle_path /up {
        respond "v3lmx ok" 200
    }

    # each site deploys its caddy config
    # in this directory
    import /etc/caddy/sites/prod/*

    respond 404
}


