:root {
--rich-black: #0d1b2aff;
--oxford-blue: #1b263bff;
--yinmn-blue: #415a77ff;
--silver-lake-blue: #778da9ff;
--platinum: #e0e1ddff;
--rainbow: linear-gradient(
        90deg,
        rgba(255, 0, 0, 1) 0%,
        rgba(255, 154, 0, 1) 10%,
        rgba(208, 222, 33, 1) 20%,
        rgba(79, 220, 74, 1) 30%,
        rgba(63, 218, 216, 1) 40%,
        rgba(47, 201, 226, 1) 50%,
        rgba(28, 127, 238, 1) 60%,
        rgba(95, 21, 242, 1) 70%,
        rgba(186, 12, 248, 1) 80%,
        rgba(251, 7, 217, 1) 90%,
        rgba(255, 0, 0, 1) 100%
    );
}


body {
    background-color: var(--silver-lake-blue);
    color: var(--rich-black);
    margin: 0;
    display: flex;
    place-items: center;
    min-width: 100vw;
    width: 100vw;
    min-height: 100vh;
    font: 1.2em sans-serif;
    touch-action: manipulation;
}


.box {
    border-radius: 0.5em;
    margin: 0;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
}

